.cuerpo {
    width: 955px;
    height: 1400px;
    background-color: #a9a9a9;
    margin: 0.5em 0 0.5em 0;
}

.header {
    height: 74%;
    background-color: #ffffff;
    text-align: center;
}

.separador {
    height: 11.5%;
    background-color: #000;
}

.nav {
    height: 11.5%;
    background-color: #ffffff;
}

.hombre {
    height: 6%;
    margin: 1em 4em 1em 4em;
    background-color: #ffffff;
    border: #000000;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.mujer {
    height: 6%;
    margin: 1em 4em 1em 4em;
    background-color: #ffffff;
    border: #000000;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.accesorio {
    margin: 1em 4em 1em 4em;
    background-color: #ffffff;
    border: #000000;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.bolsos {
    margin: 1em 4em 1em 4em;
    background-color: #ffffff;
    border: #000000;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.footer {
    height: 7%;
    background-color: #000000;
}