.cuerpo {
    width: 955px;
    height: 1400px;
    background-color: #a9a9a9;
    margin: 0.5em 0 0.5em 0;
}

#header {
    height: 74%;
    background-color: #ffe4c4;
}

#separador {
    height: 11.5%;
    background-color: #000;
}

#nav {
    height: 11.5%;
    background-color: #7fffd4;
}

#contenedor {
    height: 70%;
    background-color: #ee82ee;
}

#contenido {
    height: 100%;
    width: 80%;
    background-color: #d2691e;
    margin: 0 5em 0 5em;
}

.articulos {
    height: 20%;
    margin-bottom: 2em;
    background-color: #006400;
}

.articulitos {
    height: 20%;
    margin-bottom: 2em;
    background-color: #d2691e;
}

.articulitosl {
    height: 100%;
    width: 47.5%;
    float: left;
    background-color: #006400;
}

.articulitosr {
    height: 100%;
    width: 47.5%;
    float: right;
    background-color: #006400;
}

#footer {
    height: 7%;
    background-color: #bdb76b;
}