.cuerpo {
    margin-top: 0.5em;
}

.principal {
    height: 100vh;
}

.header {
    height: 74%;
    background-color: #ffffff;
    text-align: center;
}

.separador {
    height: 10vh;
    background-color: #000;
    margin-top: 3em;
}

.nav {
    height: 10vh;
    background-color: #ffffff;
}

.carousel {
    height: 78vh;
    width: 100%;
}

.medidas {
    height: 75vh;
}

.carousel-item {
    height: 75vh;
}

.secundario {
    height: 100vh;
}

.hombre {
    height: 20vh;
    margin: 1em 4em 1em 4em;
    background-color: #ffffff;
    border: #000000;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.mujer {
    height: 20vh;
    margin: 1em 4em 1em 4em;
    background-color: #ffffff;
    border: #000000;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.accesorio {
    height: 20vh;
    margin: 1em 4em 1em 4em;
    background-color: #ffffff;
    border: #000000;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.bolsos {
    height: 20vh;
    margin: 1em 4em 1em 4em;
    background-color: #ffffff;
    border: #000000;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.footer {
    height: 20vh;
    background-color: #000000;
}