.compras {
    height: 100vh;
    padding: 0 4em 0 4em;
}

.cubo {
    background-color: #ffffff;
    border: #000000;
    border-style: solid;
    margin-bottom: 1em;
}

.carro {
    height: 100vh;
}

.datos {
    height: 45vh;
}

.direccion {
    height: 26vh;
}

.totalpago {
    height: 25vh;
}