.compras {
    height: 100vh;
}

.cubo {
    background-color: #ffffff;
    border: #000000;
    border-style: solid;
}

.carro {
    height: 100vh;
    margin-left: 3em;
}

.datos {
    height: 45vh;
    margin-bottom: 1em;
    margin-right: 2em;
}

.direccion {
    height: 25vh;
    margin-bottom: 1em;
    margin-right: 2em;
}

.totalpago {
    height: 25vh;
    margin-right: 2em;
}