.cuerpo {
    margin-top: 0.5em;
}

.principal {
    height: 35vh;
}

.header {
    height: 74%;
    background-color: #ffffff;
    text-align: center;
}

.separador {
    height: 10vh;
    background-color: #000;
    margin-top: 3em;
}

.nav {
    height: 10vh;
    background-color: #ffffff;
}

.carousel {
    height: 78vh;
    width: 100%;
}

.medidas {
    height: 75vh;
}

.carousel-item {
    height: 75vh;
}

.carousel h5 {
    background-color: #ffffff;
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 3em;
}

.carousel p {
    background-color: #ffffff;
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 3em;
}

.secundario {
    height: 100vh;
}

.cubo {
    margin: 2em 4em 2em 4em;
    background-color: #ffffff;
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin-bottom: 1em;
}

.min-cubo {
    background-color: #ffffff;
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin-bottom: 1em;
}

.mini {
    margin: 2em 4.8em 2em 4.8em;
}

.hombre {
    height: 25vh;
}

.mujer {
    height: 25vh;
}

.accesorio {
    height: 25vh;
}

.bolsos {
    height: 25vh;
}

.footer {
    height: 20vh;
    background-color: #000000;
}