/* FONDO */

body {
    background-color: #ffffff;
}

.alto {
    height: 100vh;
}

.division {
    background-color: #000000;
}


/* Pruebas */

.cabeza {
    background-color: #ffffff;
    text-align: center;
    margin-top: 2em;
}

.division {
    background-color: #000000;
    color: #000000;
    height: 2em;
}


/* Nadvar */

.nadvar {
    background-color: #ffffff;
}

.boton {
    border: 0px;
    background-color: #ffffff;
    color: #000000;
}

.botonIzquierdo {
    text-align: left;
    margin-top: 1em;
}

.botonDerecho {
    text-align: right;
    margin-top: 1em;
}


/* Menu a la Izquierda */

.menu {
    background-color: #ffffff;
    height: 100vh;
    padding-top: 2em;
    margin-top: 5em;
    margin-left: 6em;
    margin-right: 1em;
    border: 0.15em;
    border-style: solid;
}

.tituloMenu {
    width: 113%;
    text-align: center;
}


/* Menu Ropa */

.menuRopa {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ffffff;
}

li a {
    display: block;
    color: #000;
    text-decoration: none;
}

li a:hover {
    background-color: #610051;
    color: #ffffff;
}


/* Productos lado derecho */

.productos {
    background-color: #ffffff;
    height: 100vh;
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 4em;
}


/* Filtros productos */

.filtro {
    height: 20vh;
    border: 0.15em;
    border-style: solid;
}

.ordenarRopa {
    width: 25%;
    padding: 16px 20px;
    margin-top: 2em;
    margin-left: 1em;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
}


/* Muestra de productos */

.ropa {
    height: 100vh;
    margin-top: 2em;
    padding-top: 1em;
    border: 0.15em;
    border-style: solid;
}

.galeria {
    height: 16.25em;
    width: 11.132em;
    margin-right: 1.113em;
    margin-left: 1.113em;
}

.verProducto:link,
.verProducto:visited {
    background-color: #8800c7;
    color: white;
    padding: 14px 25px;
    width: 11.132em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.verProducto:hover,
.verProducto:active {
    background-color: #390380;
}


/* pie de pagina */

.pie {
    height: 30vh;
    background-color: #000;
    margin-top: 15em;
}

.contactos {
    text-align: right;
}

.botonContacto {
    height: 0px;
    width: 50px;
    margin-top: 2em;
    border: 0px;
    background-color: #000000;
    color: #ffffff;
}


/* PAGINA CARRO DE COMPRAS */


/* DATOS COMPRADOR */

.datos {
    background-color: #ffffff;
    height: 100vh;
    padding-top: 2em;
    margin-top: 5em;
    margin-left: 1em;
    margin-right: 4em;
    border: 0.15em;
    border-style: solid;
}

.direccion {
    width: 100%;
    padding: 6px 10px;
    margin-right: 0.5em;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
}


/* CARRO DE COMPRAS */

.compras {
    background-color: #ffffff;
    height: 100vh;
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: 6em;
    margin-right: 1em;
    border-style: solid;
}


/* boton compras */

.botonDerecha {
    background-color: #ffffff;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 4em;
    text-align: right;
    padding-right: 0em;
}

.botonIzquierda {
    background-color: #ffffff;
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-left: 6em;
    margin-right: 1em;
    text-align: right;
    padding-right: 0em;
}

.botonCompras {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.borrarCarro {
    background-color: white;
    color: black;
    border: 2px solid #000000;
}

.borrarCarro:hover {
    background-color: #000000;
    color: white;
}

.pagar {
    background-color: white;
    color: black;
    border: 2px solid #000000;
}

.pagar:hover {
    background-color: #000000;
    color: white;
}